.header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 15px 0;
  background-color: rgba(37, 37, 37, 0.77);
  backdrop-filter: blur(2.5px);
  border-bottom: 2px solid #fff;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// .logo {
//   position: absolute;
//   top: 95%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   z-index: 2;
// }


.btn {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 2;
  span,
  &::before,
  &::after {
    position: absolute;
    left: 0;
    height: 6px;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }

  &::before,
  &::after {
    content: '';
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }
}

.btn.open span {
  transform: scale(0);
}

.btn.open::before,
.btn.open::after {
  top: 50%;
  transform: translateY(-50%);
}

.btn.open::before {
  transform: rotate(45deg) translateY(-50%);
}

.btn.open::after {
  transform: rotate(-45deg) translateY(-50%);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100vh;
  border-right: 1px solid #fff;
  background-color: rgba(37, 37, 37, 0.77);
  backdrop-filter: blur(2.5px);
  overflow: hidden;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.menu.open {
  transform: translateX(0);
}


.item{
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
}

.item:not(:last-child){
  margin-bottom: 30px;
}

.link{
  color: #FFF;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.phone{
  position: relative;
  z-index: 2;
}


@media (min-width: 1440px) {
  /* Ваши стили для больших десктопных экранов */
}

@media (min-width: 1280px) and (max-width: 1439px) {
  /* Ваши стили для средних десктопных экранов */
}

@media (min-width: 1024px) and (max-width: 1279px) {
  /* Ваши стили для небольших десктопных экранов */
}

@media (min-width: 768px) and (max-width: 1023px) {

  .wrapper{
    flex-direction: row-reverse;
  }
  /* Ваши стили для планшетов */
  .logo{
    width: 200px;
    height: 100px;
  }

  .btn,
  .phone{
    width: 40px;
    height: 40px;
    span{
      width: 40px;
    }
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  /* Ваши стили для средних устройств */
  .wrapper {
    flex-direction: row-reverse;
  }
  .logo {
    width: 200px;
    height: 100px;
  }

  .btn,
  .phone {
    width: 40px;
    height: 40px;

    span {
      width: 40px;
    }
  }

  .menu{
    width: 100%;
  }
}

@media (max-width: 479px) {
  /* Ваши стили для очень маленьких устройств */
  .wrapper {
    flex-direction: row-reverse;
  }
  .logo {
    width: 140px;
    height: 64px;
  }

  .btn,
  .phone {
    width: 40px;
    height: 40px;

    span {
      width: 40px;
    }
  }
  .menu {
    width: 100%;
  }
}