.footer {
  background: url('/image/footer-bg.jpg') center/cover no-repeat;
  padding: 60px 0;
  
  // display: flex;
  // align-items: center;
}

.wrapper{
  // min-height: 100vh;
  display: flex;
  justify-content: space-between;
}

.block{
  border-bottom: 1px solid #fff;
  padding-bottom: 13px; 
  width: 300px;
  margin-bottom: 8px;
}

.schedule{
  color: #fff;
  li{
    &:not(:last-child){
      padding-bottom: 8px;
    }
  }
}

.subtitle{
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 14px;
}

.phones{
  display: flex;
  flex-direction: column;
}

.store{
  display: flex;
  justify-content: space-between;
}

.socials{
  display: flex;
}

.link{
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 1440px) {
  /* Ваши стили для больших десктопных экранов */
}

@media (min-width: 1280px) and (max-width: 1439px) {
  /* Ваши стили для средних десктопных экранов */
}

@media (min-width: 1024px) and (max-width: 1279px) {
  /* Ваши стили для небольших десктопных экранов */
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Ваши стили для планшетов */
  .block{
    max-width: 200px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  /* Ваши стили для средних устройств */
  .wrapper{
    flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 479px) {
  /* Ваши стили для очень маленьких устройств */
  .wrapper {
    flex-direction: column;
    gap: 40px;
  }
}
