.btn{
  padding: 16px 39px;
  color: #FFF;
  border: 2px solid #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  display: inline-block;
}