

.section {
  position: relative;
  background: url('/image/header-bg.jpg') center/cover no-repeat;
}

.section::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #1E1E1E;
  opacity: 0.5;
}

.wrapper{
  min-height: calc(100vh - 120px);
  display: flex;
  align-items: center;  
  justify-content: space-between;
}

.content{
  max-width: 700px;
}

.title{ 
  color: rgba(255, 255, 255, 0.80);
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  padding-bottom: 65px;
  text-transform: uppercase;
}

.image,
.content{
  z-index: 1;
}




@media (min-width: 768px) and (max-width: 1023px) {
  /* Ваши стили для планшетов */
  .title{
    font-size: 44px;  
    padding-bottom: 30px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  /* Ваши стили для средних устройств */
  .wrapper{
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
  }
  .content{
    text-align: center;
  }
  .image{
    width: 200px;
    height: 300px;
  }
  .title {
    font-size: 34px;
    padding-bottom: 30px;
  }
}

@media (max-width: 479px) {
  /* Ваши стили для очень маленьких устройств */
  .wrapper {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    min-height: calc(100vh - 70px);
  }

  .content {
    text-align: center;
  }

  .image {
    width: 200px;
    height: 300px;
  }
  .title {
    font-size: 26px;
    padding-bottom: 20px;
  }
}